<footer>
    <nav class="navbar navbar-default navbar-fixed-bottom">
      <div class="container-fluid">
        <div class="col-xs-2">
            Galvanize Animal Shelter <br> 111 S. Jackson St.<br> Seattle, WA 98104<br>
        </div>
        <div class="col-xs-2">
            Phone: 206-555-7387 (PETS)<br> Fax: 206-555-4321
            <a href="mailto:galvanizeanimalshelter@adoptapet.com">galvanizeanimalshelter@adoptapet.com</a><br>
            <div id="deptSocialMediaFooter">

                <a id="x1690_deptFooter" class="socialMediaContactItem" href="/animals/" target="_blank"> <img src='http://www.seattle.gov/images/Shared/SocialMedia/icon_Blog.gif' alt="The Scoop - Galvanize Animal Shelter News &amp; Events" title="The Scoop - Galvanize Animal Shelter News &amp; Events" width="24" height="24" />
                </a>

                <a id="x1689_deptFooter" class="socialMediaContactItem" href="/animals/" target="_blank"> <img src='http://www.seattle.gov/images/Shared/SocialMedia/icon_Facebook.gif' alt="Galvanize Animal Shelter Facebook" title="Galvanize Animal Shelter Facebook" width="24" height="24" />
                </a>

                <a id="x1688_deptFooter" class="socialMediaContactItem" href="/animals/" target="_blank"> <img src='http://www.seattle.gov/images/Shared/SocialMedia/icon_Twitter.gif' alt="@GalvanizeAnimal" title="@GalvanizeAnimal" width="24" height="24" />
                </a>

                <a id="x65883_deptFooter" class="socialMediaContactItem" href="/animals/" target="_blank"> <img src='http://www.seattle.gov/images/Shared/SocialMedia/icon_Flickr.gif' alt="Galvanize Animal Shelter - Flickr" title="Galvanize Animal Shelter - Flickr" width="24" height="24" />
                </a>

                <a id="x66294_deptFooter" class="socialMediaContactItem" href="/animals/" target="_blank"> <img src='http://www.seattle.gov/images/Shared/SocialMedia/icoInstagram24X.png' alt='Galvanize Animal Shelter Instagram' title='Galvanize Animal Shelter Instagram' />
                </a>
            </div>
        </div>
      </div>
    </nav>
</footer>
