<div class="container-fluid animals-cont">
<div class="jumbotron">
  <h1>{{title}}</h1>
  <p>Swing by and pick up a new friend today!</p>
  <p><a class="btn btn-primary btn-lg" href="/animals/" role="button">Adopt a Pet</a></p>
</div>
</div>
